certifi==2025.10.5
cffi==2.0.0
clr_loader==0.2.8
influxdb-client==1.49.0
markdown-it-py==4.0.0
mdurl==0.1.2
pycparser==2.23
Pygments==2.19.2
PyLibreHardwareMonitor==1.2.2
PyLibreHardwareMonitorLib==1.2.1
python-dateutil==2.9.0.post0
pythonnet==3.0.5
reactivex==4.1.0
rich==14.2.0
setuptools==80.9.0
six==1.17.0
typing_extensions==4.15.0
urllib3==2.5.0
